footer {
  background-color: #101010;
  width: 100%;
  height: 500px;
  padding: 150px 60px;
}
/*.footer-wrap {*/
/*  width: 100%;*/
/*  min-width: 1300px;*/
/*  max-width: 1500px;*/
/*  height: 500px;*/
/*  padding: 30px 80px;*/

/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*}*/
/*.footer-wrap > img {*/
/*  height: auto;*/
/*  width: 150px;*/
/*  object-fit: contain;*/
/*}*/
/*.footer-wrap > div {*/
/*  width: 80%;*/
/*}*/
/*.footer-list {*/
/*  display: flex;*/
/*  justify-content: space-between;*/

/*  font-weight: 500;*/
/*  font-size: 15px;*/
/*  color: #c9c9c9;*/
/*}*/

.footer-wrap {
  width: 100%;
  max-width: 1280px;
  min-width: 800px;
  height: 100%;
  margin: 0 auto;
  /*display: grid;*/
  /*grid-template-columns: 3fr 1fr;*/
  /*grid-template-rows: 1fr 3fr;*/
}

.nav {
  display: flex;
  justify-content: space-between; /* nav-list와 logo 사이에 공간을 균등하게 분배 */
  align-items: center; /* 세로 정렬을 중앙으로 맞춤 */
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 40px; /* nav-list 내부의 각 항목 간격 설정 */
  color: #002970;
  font-size: clamp(19px, 2vw, 24px);
  font-weight: 700;
}

.nav > .logo {
  margin-left: auto; /* logo를 우측으로 정렬 */
  margin-right: 0;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: #002970;
}

.info {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cont {
  display: flex;
  gap: 30px;
}

.info-list {
  display: flex;
  flex-wrap: wrap; /* flex 요소들을 여러 줄로 나누도록 설정 */
  color: #b2b2b2;
  font-size: 15px;
}

.info-list span {
  flex-basis: 30%; /* 각 span 요소가 45% 너비를 차지하여 두 줄로 배치 */
  margin-bottom: 10px; /* 아래쪽 간격 추가 */
}

/* 화면 너비가 1100px 이하일 때 */
/*@media (max-width: 1100px) {*/
/*  .info-list span {*/
/*    flex-basis: 45%; !* 각 span 요소가 45% 너비를 차지하여 두 줄로 배치 *!*/
/*    margin-bottom: 10px; !* 아래쪽 간격 추가 *!*/
/*  }*/
/*}*/