/* Swiper 페이지네이션 (dot) 색상 변경 */
.swiper-pagination-bullet {
    background-color: #ffffff !important; /* 기본 dot 색상 */
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background-color: #808080 !important; /* 활성화된 dot 색상 */
    opacity: 1;
}

/* Swiper 페이지네이션 크기 조정 */
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 5px;
}

/* Swiper 페이지네이션 하단 위치 조정 */
.swiper-pagination {
    bottom: 20px !important; /* 페이지네이션 위치 조정 */
}